<table class="dataframe dataframe-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mkt_return</th>
      <th>mkt_log_return</th>
      <th>mkt_log_return_vol</th>
      <th>mkt_volume</th>
      <th>mkt_log_skew</th>
      <th>mkt_return_vol</th>
      <th>mkt_volume_vol</th>
      <th>corr_log_returns_volume</th>
      <th>zscore</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020-03-26</th>
      <td>0.057567</td>
      <td>0.053335</td>
      <td>0.020406</td>
      <td>2.247198e+06</td>
      <td>2.257406</td>
      <td>0.019613</td>
      <td>398718.762516</td>
      <td>-0.251127</td>
      <td>2.691529</td>
    </tr>
    <tr>
      <th>2020-03-27</th>
      <td>-0.032882</td>
      <td>-0.035503</td>
      <td>0.020514</td>
      <td>1.919661e+06</td>
      <td>1.659542</td>
      <td>0.019715</td>
      <td>401325.463615</td>
      <td>-0.259948</td>
      <td>-1.645500</td>
    </tr>
    <tr>
      <th>2020-03-30</th>
      <td>0.007114</td>
      <td>0.004982</td>
      <td>0.020517</td>
      <td>1.807321e+06</td>
      <td>-0.095912</td>
      <td>0.019720</td>
      <td>403359.905247</td>
      <td>-0.256416</td>
      <td>0.327528</td>
    </tr>
    <tr>
      <th>2020-03-31</th>
      <td>0.001896</td>
      <td>-0.000371</td>
      <td>0.020504</td>
      <td>2.022288e+06</td>
      <td>3.283296</td>
      <td>0.019708</td>
      <td>406903.460055</td>
      <td>-0.253225</td>
      <td>0.068603</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>-0.057534</td>
      <td>-0.061251</td>
      <td>0.020843</td>
      <td>1.838079e+06</td>
      <td>-1.521756</td>
      <td>0.020030</td>
      <td>408913.109354</td>
      <td>-0.266268</td>
      <td>-2.841759</td>
    </tr>
  </tbody>
</table>