<table class="dataframe dataframe-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mkt_return</th>
      <th>mkt_log_return</th>
      <th>mkt_log_return_vol</th>
      <th>mkt_volume</th>
      <th>mkt_log_skew</th>
      <th>mkt_return_vol</th>
      <th>mkt_volume_vol</th>
      <th>corr_log_returns_volume</th>
      <th>zscore</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020-03-26</th>
      <td>0.038814</td>
      <td>0.037050</td>
      <td>0.013744</td>
      <td>2.410410e+06</td>
      <td>-1.255380</td>
      <td>0.013224</td>
      <td>552209.696347</td>
      <td>-0.304334</td>
      <td>2.746175</td>
    </tr>
    <tr>
      <th>2020-03-27</th>
      <td>-0.024319</td>
      <td>-0.025366</td>
      <td>0.013830</td>
      <td>2.347477e+06</td>
      <td>-0.066262</td>
      <td>0.013308</td>
      <td>558779.236368</td>
      <td>-0.315939</td>
      <td>-1.776069</td>
    </tr>
    <tr>
      <th>2020-03-30</th>
      <td>0.012938</td>
      <td>0.012547</td>
      <td>0.013852</td>
      <td>1.996314e+06</td>
      <td>-1.026118</td>
      <td>0.013332</td>
      <td>562355.128390</td>
      <td>-0.306452</td>
      <td>0.961278</td>
    </tr>
    <tr>
      <th>2020-03-31</th>
      <td>-0.005008</td>
      <td>-0.005209</td>
      <td>0.013843</td>
      <td>1.944840e+06</td>
      <td>0.101997</td>
      <td>0.013322</td>
      <td>565530.837778</td>
      <td>-0.307273</td>
      <td>-0.316794</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>-0.034861</td>
      <td>-0.036339</td>
      <td>0.014022</td>
      <td>1.859877e+06</td>
      <td>0.433008</td>
      <td>0.013497</td>
      <td>567942.384185</td>
      <td>-0.317225</td>
      <td>-2.522601</td>
    </tr>
  </tbody>
</table>