<table class="dataframe dataframe-table">
    <thead>
        <tr style="text-align: right;">
            <th></th>
            <th></th>
            <th>n</th>
            <th>slope</th>
            <th>r2</th>
            <th>pvalue</th>
            <th>stderr</th>
            <th>predictive_effect</th>
        </tr>
        <tr>
            <th>crisis</th>
            <th>period</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="2" valign="top">Black Monday</th>
            <th>PRE</th>
            <td>505</td>
            <td>0.002601</td>
            <td>0.105581</td>
            <td>6.993536e-14</td>
            <td>0.000338</td>
            <td>significant positive</td>
        </tr>
        <tr>
            <th>DURING</th>
            <td>254</td>
            <td>0.000969</td>
            <td>0.012456</td>
            <td>7.581427e-02</td>
            <td>0.000544</td>
            <td>non-significant</td>
        </tr>
        <tr>
            <th rowspan="2" valign="top">Dot-com Bubble Burst</th>
            <th>PRE</th>
            <td>507</td>
            <td>0.001568</td>
            <td>0.041234</td>
            <td>4.044266e-06</td>
            <td>0.000337</td>
            <td>significant positive</td>
        </tr>
        <tr>
            <th>DURING</th>
            <td>251</td>
            <td>0.001616</td>
            <td>0.025014</td>
            <td>1.210691e-02</td>
            <td>0.000639</td>
            <td>significant positive</td>
        </tr>
        <tr>
            <th rowspan="2" valign="top">Global Financial Crisis</th>
            <th>PRE</th>
            <td>503</td>
            <td>-0.000311</td>
            <td>0.003029</td>
            <td>2.178593e-01</td>
            <td>0.000252</td>
            <td>non-significant</td>
        </tr>
        <tr>
            <th>DURING</th>
            <td>252</td>
            <td>0.000392</td>
            <td>0.001059</td>
            <td>6.070838e-01</td>
            <td>0.000761</td>
            <td>non-significant</td>
        </tr>
    </tbody>
</table>